<div class="todos">
    <form>
        <input
        type="text"
        name="inputTodo"
        placeholder="Enter your todo"
        class="todo-input"
        [(ngModel)]="inputTodo"
        />
    </form>
</div>

<button class="todo-submit " (click)="addTodo()">Submit</button>

<div class="todos" *ngFor="let todo of todos; let i = index;" class="todo{{ (todo.completed? 'done' : '' )}}">
   
    
        <div class="id">{{ i }}</div>
            <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
                <button class="delete" (click)="deleteTodo(i)">Remove</button>
    </div>
